* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.card {
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
}

.card img {
  width: 100%;
}

.card h3,
.card p {
  margin: 6px 0;
}

.card-content {
  padding: 0 8px;
}

.container {
  max-width: 1400px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  gap: 12px;
}
@media (max-width: 768px) {
  .container {
    max-width: 1400px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: 12px;
  }
}
